* {
  box-sizing: border-box;
}

body {
  background-color: snow;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: darkblue;
}

header {
  text-align: center;
}
h1 {
  padding-top: 2rem;
}

nav {
  width: 100%;
  position: fixed;
  display: block;
  float: left;
  background-color: whitesmoke;
  box-shadow: 1px 1px dimgray;
}

a,
nav {
  color: darkblue;
  padding: 1rem;
}

h2 {
  text-align: center;
}

main {
  text-align: center;
  max-width: 100rem;
  justify-content: center;
  margin: auto;
  padding-top: 10rem;
}
